    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="/manajer/dashboard"><img src="/images/assets/LogoAndText_medayuagung.webp" class="mr-2" alt="Logo Medayu Agung"/></a>
            <a class="navbar-brand brand-logo-mini" href="/manajer/dashboard"><img src="/images/assets/logo_medayuagung_warna.webp" alt="Logo Medayu Agung"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
            </button>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                  <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" data-toggle="dropdown" id="profileDropdown" style="font-weight:600; font-size:15px;">
                    <i class="mdi mdi-account-circle mr-2" style="font-size: 22px;"></i>
                    <span><%= manajer.nama %></span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="/manajer/ubah-kata-sandi">
                      <i class="ti-settings text-primary"></i>
                      Ubah Kata Sandi
                    </a>
                    <a class="dropdown-item" href="/logout">
                      <i class="ti-power-off text-primary"></i>
                      Keluar
                    </a>
                  </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
            </button>
        </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/manajer/dashboard">
                <i class="mdi mdi-view-dashboard-outline menu-icon"></i>
                <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link collapsed" data-toggle="collapse" href="#collapseLokasi" aria-expanded="false" aria-controls="collapseLokasi">
                <i class="mdi mdi-account-group-outline menu-icon"></i>
                <span class="menu-title">Personel</span>
                <i class="menu-arrow mdi mdi-chevron-down"></i>
              </a>
              <div class="collapse" id="collapseLokasi">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/manajer/pembina">
                      Pembina
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/manajer/pengawas">
                      Pengawas
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/manajer/sahabat-medayu">
                      Sahabat Medayu
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manajer/pengumuman">
                <i class="mdi mdi-bullhorn-outline menu-icon"></i>
                <span class="menu-title">Pengumuman</span>
                </a>
            </li>
            </ul>
        </nav>
        <!-- partial -->